<div class="col text-center border p-2" @onclick="SelectDate">
	<button type="button" class="btn btn-link stretched-link"><strong>@Day.ToString("dddd")</strong><br /><small>@Day.Date.ToShortDateString()</small></button>
</div>